*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.center{
  text-align: center;
}

.Home,
.CheckWeather,
.DisplayWeather{
  width: 100%;
  height: 100vh;
  background: rgb(19, 18, 18);
  color: rgb(85, 83, 83);
  padding: 3rem;
  font-size: 20px;
  margin: auto;
}

.Home{
  padding: 0;
  height: auto;
}

.Home .wrap1{
  background: rgb(228, 226, 226);
  padding: 2rem;
}

.image{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image img{
  margin-bottom: 3rem;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(94, 90, 90);
  background: none;
  color: white;
  padding: 0.5rem 0;
  margin-top: 1rem;
  width: 70%;
  max-width: 500px;
}

button {
  outline: none;
  border: none;
  border-radius: 7px;
  background: rgb(59, 2, 97);
  color: white;
  padding: 1rem 3rem;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.5s ease;
}

button:hover{
  opacity: 0.8;
}

.form-wrap{
  margin-top: 2rem;
}

.form{
  margin-bottom: 2rem;
}

.wrap{
  background: rgb(19, 18, 18);
  padding: 3rem;
  width: 65%;
  max-width: 800px;
  margin: auto;
}

.wrap h3{
  color: rgb(236, 231, 231);
  margin-bottom: 2rem;
}

.orange{
  color: rgb(233, 113, 15);
}

